.newHomeBanner {
  margin-top: 20px;
  .newHomeBanner-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      display: flex;
      align-items: center;
      cursor: pointer;

      .newHomeBanner-icon {
        font-size: 30px;
      }
    }
    .newHomeBanner-top-btns {
      display: flex;
      gap: 10px;
      button {
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        background-color: #ffa500;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        outline: none;
        gap: 8px;

        &:hover {
          background-color: #e69500;
          transform: translateY(-2px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }

        &:active {
          background-color: #cc8400;
          transform: translateY(0);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        &:focus {
          box-shadow: 0 0 0 3px rgba(255, 165, 0, 0.5);
        }

        &:disabled {
          background-color: #cccccc;
          cursor: not-allowed;
          opacity: 0.7;
        }

        .button-icon {
          font-size: 20px;
          transition: transform 0.3s ease;
        }

        &:hover .button-icon {
          transform: scale(1.1);
        }
      }
    }
  }

  .newHomeBanner-content {
    .newHomeBanner-content-top {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      gap: 20px;

      label {
        font-size: 20px;
      }

      input {
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 2px solid #000;
        font-size: 20px;
      }
    }

    .added-banners {
      width: 600px;
      margin: 0 auto;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .banner-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
          object-fit: contain;
        }

        .banner-details {
          margin-top: 10px;
          span {
            color: #585858;
          }
          h4 {
            font-size: 20px;
            margin-bottom: 10px;
          }
          p {
            font-size: 18px;
          }
        }

        .added-banners-btn {
          display: flex;
          justify-content: center;
          margin-top: 10px;
          button {
            padding: 12px 24px;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            outline: none;
            gap: 8px;

            background-color: red;

            &:hover {
              background: rgb(170, 28, 28);
            }

            &:active {
              background-color: rgb(224, 61, 61);
            }

            &:focus {
              box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.76);
            }

            &:hover {
              transform: translateY(-2px);
              box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            }

            &:active {
              transform: translateY(0);
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }

            &:disabled {
              background-color: #cccccc;
              cursor: not-allowed;
              opacity: 0.7;
            }
          }
        }

        .button-icon {
          font-size: 20px;
          transition: transform 0.3s ease;
        }

        &:hover .button-icon {
          transform: scale(1.1);
        }
      }
    }

    .newHomeBanner-content-details {
      margin-top: 30px;
      width: 100%;

      .newHomeBanner-content-details-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 600px;
        margin: 0 auto;

        .newHomeBanner-content-details-left {
          background: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 300px;
          width: 100%;
          cursor: pointer;
          overflow: hidden;

          &.bg-none {
            background: transparent;
          }

          .main-image {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            object-fit: contain;
          }

          .addimage {
            width: 100px;
          }
        }

        .newHomeBanner-content-details-right {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;

          .newHomeBanner-content-details-right-inputs {
            display: flex;
            flex-direction: column;
            width: 100%;
            &.desc-area {
              .text-area {
                width: 100%;
                height: 150px;
                font-size: 16px;
                font-family: "Sora", serif;
                margin-top: 10px;
                outline: none;
                padding: 5px 0px 0px 5px;
              }
            }
            label {
              font-size: 16px;
            }

            input {
              border: none;
              outline: none;
              background: transparent;
              border-bottom: 2px solid #000;
              font-size: 16px;
              font-family: "Sora", serif;
              margin-top: 10px;
            }
          }

          .banner-add-btn {
            display: flex;
            justify-content: center;
            button {
              padding: 12px 24px;
              font-size: 16px;
              font-weight: 600;
              color: #fff;
              background-color: green;
              border: none;
              border-radius: 8px;
              cursor: pointer;
              transition: all 0.3s ease;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
              outline: none;
              display: flex;
              align-items: center;
              gap: 5px;

              .add-icon {
                font-size: 20px;
              }

              &:hover {
                background-color: rgb(21, 180, 21);
                transform: translateY(-2px);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
              }

              &:active {
                background-color: #cc8400;
                transform: translateY(0);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
              }

              &:disabled {
                background-color: #cccccc;
                cursor: not-allowed;
                opacity: 0.7;
              }

              .button-icon {
                font-size: 20px;
                transition: transform 0.3s ease;
              }

              &:hover .button-icon {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}
