@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

$primary-color: #b90808;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Sora", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
 
  input , textarea{
    font-family: "Sora", serif;
  }

 button{
  font-family: "Sora", serif;

 }
}
